:root {
  --primary-color: #4d5ae5;
  --secondary-color: #2e2f42;
  --icon-fill-color: #f4f4fd;
  --customers-icon-color: #8e8f99;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #434455;
}

.section-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.second-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.describtion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo-studio {
  color: var(--secondary-color);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color var(--transition-dur-func);
}

.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.menu-link:link::after {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  content: '';
  transition: opacity var(--transition-dur-func);
}
.menu-link.current {
  color: #404bbf;
}

.menu-link.current::after {
  opacity: 1;
}

.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link {
  transition: color var(--transition-dur-func);
}
.contact-link:not(:last-child) {
  margin-right: 40px;
}
/* .tel-link {
  transition: color var(--transition-dur-func);
} */
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background: rgba(46, 47, 66, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-header {
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-func);
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
/* Section 2 */

.work {
  display: flex;
  gap: 24px;
}
.work-item {
  flex-basis: calc((100% - 72px) / 4);
}
.work-item-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Section 3 */
.section-work {
  padding-top: 0;
}
.work-img {
  display: flex;
  gap: 24px;
}
.img {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Section 4 */
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #f4f4fd;
}
.team-member {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-member:hover .social-list-link {
  background-color: #404bbf;
}
.team-member:focus .social-list-link {
  background-color: #404bbf;
}
.team-content-wrapper {
  padding: 32px 0;
  text-align: center;
}
.team-img {
  width: 100%;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: background-color var(--transition-dur-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

/* Portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.filter-buttons {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn {
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func),
    border-color var(--transition-dur-func),
    box-shadow var(--transition-dur-func);
}
.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card {
  width: calc((100% - 48px) / 3);
}
.card-link {
  display: block;
  transition: box-shadow var(--transition-dur-func);
}

.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-item {
  width: 100%;
}
.img-overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-func);
  background: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.card-link:focus .overlay {
  transform: translate(0, 0);
}

.card-link:hover .overlay {
  transform: translate(0, 0);
}

.card-content-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.position {
  margin-bottom: 8px;
}
/* Customers */
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: var(--customers-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: border-color var(--transition-dur-func),
    color var(--transition-dur-func);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-list-icon {
  fill: currentColor;
  transition: fill var(--transition-dur-func);
}

.customers-list-link:hover .customers-list-icon {
  fill: #404bbf;
}
.customers-list-link:focus .customers-list-icon {
  fill: #404bbf;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
}
.container-footer {
  display: flex;
  align-items: baseline;
  padding: 100px 0 100px;
}
.footer-wrapper {
  margin-right: 120px;
  width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.describtion-light {
  color: #f4f4fd;
  line-height: 1.5;
}
.logo-studio-light {
  color: #f4f4fd;
}

.social-media-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-func);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icon {
  fill: var(--icon-fill-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-func),
    visibility var(--transition-dur-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-dur-func);
}
.modal-close-btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-dur-func),
    border var(--transition-dur-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-func);
}
.modal-close-btn:hover .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
